nav {
    background-color: rgb(13,42,138);
    height: 60px;
    margin-top: 0;
    
}
nav li{
    width: auto;
    height: 60px;
    list-style: none;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: rgb(13,42,138);
    text-decoration: none;
    background-color: white;
    font-weight: bold;
}
body {
    background-image: url('hatter.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: lightblue;
    color: black;
    font-family: Verdana, sans-serif;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

footer {
    background-color: rgb(13,42,138);
    height: 160px;
    margin-bottom: 0;
    position: relative;
    padding: 20px;
    color: white;
    margin: auto;
    width: 100%;
}

footer ul {
    list-style: none;
}

footer div {
    margin: auto;
    display: grid;
    place-items: center;
}

main {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 1000px;
    min-width: 70%;
    margin: auto;
    padding: 20px;
    display: grid;
    place-items: center;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    margin-bottom: 40px;
}

#img {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

tr {
    border-top: 1px solid lightgray;
}

table {
    width: 100%;
}

td, th {
    padding: 10px;
}

h2 {
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

#items_fest {
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#items_img_fest {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#items_fest ul {
    list-style: none;
    margin-left: -20px;
}

#szin {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid white;
    background-color: blue;
    z-index: 2;
    position: absolute;
    top: 25px;
    top: 20px;
    right: 20px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

#items_fest h3 {
    font-weight: bold;
    font-size: 13pt;
    margin-top: 10px;
    max-width: 300px;
}

#items_fest span {
    font-weight: bold;
}

#items_fa {
    max-width: 180px;
    max-height: 180px;
    background-color: white;
    border: 5px solid white;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#items_fa_teljes h3 {
    font-weight: bold;
    font-size: 13pt;
    margin-top: 10px;
    max-width: 180px;
    color: white;
    z-index: 1;
    background-color: #1E90FF;
    padding: 10px;
    border-radius: 10px;
}

#items_fa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

#items_fa_teljes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: auto;
    margin: 0;
}